<h1 class="text-3xl">Precios de la aplicación</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, velit beatae non ipsum rem vitae nihil voluptatibus
        cum in nostrum cupiditate fugit tenetur debitis maiores quidem adipisci sapiente exercitationem iure.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, iste suscipit doloribus, quidem at
        molestias harum ducimus, sapiente placeat illum provident? Excepturi dolorem vitae consectetur eligendi ab
        necessitatibus ducimus repudiandae?
    </p>
</section>