<h1 class="text-3xl  ">Listado de pokemons</h1>
<hr class="my-1 ">

<h2 class="text-xl text-end pe-12 mb-1">pagina {{ currentPage() }}</h2>
<div class="flex justify-between my-2">
    @if(currentPage()! > 1){
    <a class="mt-5 p-2 px-4 bg-amber-500 rounded-2xl hover:text-cyan-500 cursor-pointer"      
    [routerLink]="['/pokemons/page', currentPage()! - 1]"     
    >
    Anteriores
</a>
}@else{
<button class="mt-5" disabled>Anteriores</button>
}

    <a class="mt-5 p-2 px-4 bg-amber-500 rounded-2xl hover:text-cyan-500 cursor-pointer"      
    [routerLink]="['/pokemons/page', currentPage()! + 1]"     
    >
    Siguientes
</a>

</div>
<!-- Todo pokemons list -->
@if(pokemons().length > 0 && !isLoading()){
<pokemon-list [pokemons]="pokemons()" />
}
@else{
<pokemon-list-skeleton />
}
<!-- Buttons cargar siguientes y anteriores    -->