<nav class="bg-black/90 text-white p-4 px-14 border-b-4 border-b-teal-400 ">
  <div class="max-w-3xl m-auto flex justify-end gap-4 px-2"> 

    <a class="hover:text-cyan-500 cursor-pointer" routerLinkActive="text-pink-400" routerLink="/about">About</a>
    <a class="hover:text-cyan-500 cursor-pointer" routerLinkActive="text-pink-400" routerLink="/pricing">Pricing</a>
    <a class="hover:text-cyan-500 cursor-pointer" routerLinkActive="text-pink-400" routerLink="/contact">Contact</a>
  </div>
</nav>
